<!-- Footer -->
<footer class="alert alert-success">

    <div class="container">
        <div class="col-sm-5">

            © 2016-All rights reserved by <strong><a href="#" title="Brighto paul">p1brighto</a></strong>
        </div>
    </div>
</footer>

<!-- JavaScript Section -->
<script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>