<% include partials/header.ejs %>
    <% include partials/navbar.ejs %>
        <!-- MAIN CONTENT -->
        <main class="container">
            <h1><b><%= title %></b></h1>
            <!-- Information card for each person ,used collapse for each person-->
            <!--info of Jesus-->
            <h2><a href="#demo" class="btn btn-info" data-toggle="collapse">Jesus</a></h2>
            <div id="demo" class="collapse">
                <img src="/images/Cefalù_Pantocrator_retouched.jpg" class="img-circle" width="304" height="236">
                <br>
                <br>
                <p>Jesus, also referred to as Jesus of Nazareth or Jesus Christ,[e] is the central figure of Christianity, whom
                    the teachings of most Christian denominations hold to be the Son of God. Christians believe Jesus is
                    the awaited Messiah (or Christ, the Anointed One) of the Old Testament.</p>

                <p>Virtually all modern scholars of antiquity agree that Jesus existed historically,[f] and historians consider
                    the Synoptic Gospels (Matthew, Mark and Luke) to be the best sources for investigating the historical
                    Jesus. Most scholars agree that Jesus was a Galilean, Jewish rabbi who preached his message orally, was
                    baptized by John the Baptist, and was crucified by the order of the Roman Prefect Pontius Pilate. In
                    the current mainstream view, Jesus was an apocalyptic preacher and the founder of a renewal movement
                    within Judaism, although some prominent scholars argue that he was not apocalyptic.After Jesus' death,
                    his followers believed he was resurrected, and the community they formed eventually became the Christian
                    church. The widely used calendar era, abbreviated as "AD" from the Latin "Anno Domini" ("in the year
                    of our Lord") or sometimes as "CE", is based on the birth of Jesus. His birth is celebrated annually
                    on December 25 as a holiday known as Christmas.</p>

                <p>Christians believe that Jesus has a "unique significance" in the world. Christian doctrines include the beliefs
                    that Jesus was conceived by the Holy Spirit, was born of a virgin named Mary, performed miracles, founded
                    the Church, died by crucifixion as a sacrifice to achieve atonement, rose from the dead, and ascended
                    into Heaven, whence he will return. Most Christians believe Jesus enables humans to be reconciled to
                    God, and will judge the dead either before or after their bodily resurrection,an event tied to the Second
                    Coming of Jesus in Christian eschatology; though some believe Jesus's role as savior has more existential
                    or societal concerns than the afterlife, and a few notable theologians have suggested that Jesus will
                    bring about a universal reconciliation. The great majority of Christians worship Jesus as the incarnation
                    of God the Son, the second of three persons of a Divine Trinity. A few Christian groups reject Trinitarianism,
                    wholly or partly, as non-scriptural.</p>

                <p>In Islam, Jesus (commonly transliterated as Isa) is considered one of God's important prophets and the Messiah,
                    second in importance only to Muhammad.[37][38] To Muslims, Jesus was a bringer of scripture and was born
                    of a virgin, but was not the Son of God. According to most Muslims, Jesus was not crucified but was physically
                    raised into Heaven by God. Judaism rejects the belief that Jesus was the awaited Messiah, arguing that
                    he did not fulfill the Messianic prophecies in the Tanakh.</p>
            </div>
            <!--info of Mary-->
            <h2><a href="#demo1" class="btn btn-info" data-toggle="collapse">Mary</a></h2>
            <div id="demo1" class="collapse">
                <img src="/images/consecration3-mary3a.jpg" class="img-circle" width="304" height="236">
                <br>
                <br>
                <p>According to the New Testament, Mary, also known as Saint Mary, the Virgin Mary, or the Blessed Virgin Mary—amongst
                    other titles, styles and honorifics—was a Galilean Jewish woman of Nazareth and the mother of Jesus.</p>




                <p>The gospels of Matthew and Luke in the New Testament describe Mary as a virgin (Greek: παρθένος, parthénos)
                    and Christians believe that she conceived her son while a virgin by the Holy Spirit. This took place
                    when she was already betrothed to Joseph and was awaiting the concluding rite of marriage, the formal
                    home-taking ceremony. She married Joseph and accompanied him to Bethlehem, where Jesus was born. According
                    to ancient Jewish custom, Mary could have been betrothed at about 12, however, there is no direct evidence
                    of Mary's age at betrothal or in pregnancy. The term "betrothal" is an awkward translation of kiddushin;
                    according to the Jewish law those called "betrothed" were actually husband and wife.
                </p>

                <p>The Gospel of Luke begins its account of Mary's life with the Annunciation, when the angel Gabriel appeared
                    to her and announced her divine selection to be the mother of Jesus. According to gospel accounts, Mary
                    was present at the Crucifixion of Jesus and is depicted as a member of the early Christian community
                    in Jerusalem. According to Apocryphal writings, at some time soon after her death, her incorrupt body
                    was assumed directly into Heaven, to be reunited with her soul, and the apostles thereupon found the
                    tomb empty; this is known in Christian teaching as the Assumption. </p>

                <p>Mary had been venerated since Early Christianity, and is considered by millions to be the most meritorious
                    saint of the religion. The Eastern and Oriental Orthodox, Roman Catholic, Anglican, and Lutheran Churches
                    believe that Mary, as Mother of Jesus, is the Mother of God and the Theotokos, literally "Giver of birth
                    to God". There is significant diversity in the Marian beliefs and devotional practices of major Christian
                    traditions. The Roman Catholic Church holds distinctive Marian dogmas; namely her status as the mother
                    of God; her Immaculate Conception; her perpetual virginity; and her Assumption into heaven. Many Protestants
                    minimize Mary's role within Christianity, based on the argued brevity of biblical references. Mary (Maryam)
                    also has a revered position in Islam, where a whole chapter of the Qur'an is devoted to her, also describing
                    the birth of Jesus.
                </p>
            </div>
            <!--info of Josep-->
            <h2><a href="#demo2" class="btn btn-info" data-toggle="collapse">Joseph</a></h2>
            <div id="demo2" class="collapse">
                <img src="/images/Guido_Reni_-_St_Joseph_with_the_Infant_Jesus_-_WGA19304.jpg" class="img-circle" width="304" height="236">
                <br>
                <br>
                <p>Joseph (Hebrew יוֹסֵף, Yosef; Greek: Ἰωσήφ, Ioseph) is a figure in the Gospels, the husband of the Blessed
                    Virgin Mary, the mother of Jesus, and is venerated as Saint Joseph in the Catholic Church, Eastern Orthodox
                    Church, Oriental Orthodox Church, Anglican Communion, Lutheranism and Methodism.Christian tradition places
                    Joseph as Jesus' foster father.Some historians state that Joseph was Jesus's father. Some differing views
                    are due to theological interpretations versus historical views.
                    <p>

                <p>The Pauline epistles make no reference to Jesus's father; nor does the Gospel of Mark. The first
                    appearance of Joseph is in the gospels of Matthew and Luke. Each contains a genealogy of Jesus
                    showing ancestry from king David, but through different sons; Matthew follows the major royal
                    line from Solomon, while Luke traces another line back to Nathan, another son of David and Bathsheba.
                    Consequently, all the names between David and Joseph are different. According to Matthew 1:16
                    "Jacob begat Joseph the husband of Mary", while according to Luke 3:23, Joseph is said to be
                    "[the son] of Heli". Some scholars[who?] reconcile the genealogies by viewing the Solomonic lineage
                    in Matthew as Joseph's major royal line, and the Nathanic lineage in Luke to be Mary's minor
                    line.
                </p>
                <p>In Catholic and other traditions, Joseph is the patron saint of workers and has several feast days.
                    He was also declared to be the patron saint and protector of the Catholic Church by Pope Pius
                    IX in 1870, and is the patron of several countries and regions. With the growth of Mariology,
                    the theological field of Josephology has also grown and since the 1950s centers for studying
                    it have been formed.</p>
            </div>
        </main>

        <% include partials/footer.ejs %>